* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F2F5;
  font-family: 'Kanit', sans-serif;
  /* color: #0D99FF; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.productcontent {
  width: 100%;
  height: 100vh;
  background-color: #F1F2F5;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  z-index: 100;
  top: 0;
  position: sticky;
  width: 100%;
  border-bottom: 1px solid lightgray;
  height: 60px;
  background-color: white !important;
  box-shadow: 0px 5px 8px -9px black;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
  height: 60px;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 5px 8px 0px black;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #fff;
  color: black;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.shoppingtips {
  display: flex;
  justify-content: center;
  min-width: 1200px;
}